<!-- /templates/product.liquid -->
{% comment %}

  Rich snippets (itemscope, itemtype, etc.) for products are a theme requirement,
  and allow search engines to easily understand what the content is.

  For more information on these Scheme.org tags, visit:
    - http://schema.org/docs/gs.html

{% endcomment %}
<style>
  .globo-swatch-product-detail .swatch--gl li label.globo-detail-border-style-double.globo-detail-style-circle::before, .swatches-globo .swatch--gl li label.globo-border-style-double.globo-style-circle::before {
    border-radius: 0 !important;
  }
  .globo-detail-style-circle, .globo-style-circle {
    border-radius: 0 !important;
}
  #productSelect{
    display: none;
  }
  #selectedColor{
    margin-left: 1.5rem;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 0.9em;
  }
  .product-form__input{
    margin: 2rem 0;
  }
    .product-form__input label{
      text-align: center;
    }
    label .color{
      display: inline-block;
      width: 22px;
      height: 22px;
    }
    .product-form__input legend{
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      display: inline-block;
      max-width: 100%;
      margin-bottom: 5px;
      font-weight: 700;
      border-bottom: none;
      font-size: 14px;
      line-height: 1.5;
    }

.product-form__input input[type="radio"]{
  clip: rect(0,0,0,0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}
.product-form__input label{
  box-sizing: border-box;
  list-style: none;
  border: solid 1px rgb(105, 105, 105,0.3);
  font-size: 16px;
  margin-right: 2%;
  padding: 3px 0;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  font-weight: normal;
}
.product-form__input label:hover{
  border-color:rgb(10, 10, 10) ;
}
.product-form__input input:checked + label{
  border: solid 1.5px rgb(10, 10, 10);
}
</style>
  <!-- link to magiczoomplus.css image gallery file -->
<link media="screen" type="text/css" rel="stylesheet" href="/plugins/magiczoomplus/magiczoomplus.css" />
<!-- link to magiczoomplus.js image gallery file -->
{{ 'magiczoomplus.js' | asset_url | script_tag }}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<section class="galleryWrap">
  <div class="container">
    <div class="uniformDetailWrap">
      <div class="detailTop">
        <aside class="imgGallery">
    
            <div class="mainImgBorder">
              <div class="mainImage">
                {% if product.metafields.custom_fields["promotion_text"] != blank %}
                  <span class="special">{{ product.metafields.custom_fields["promotion_text"] }}</span>
                {% elsif product.metafields.custom_fields["main_image_banner"] != blank  %}
                  <span class="imgbanner">{{ product.metafields.custom_fields["main_image_banner"] }}</span>
                {% elsif product.price < product.compare_at_price_min %}
                   <span class="special">SPECIAL</span>
                {% endif %}
                {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
                <a data-fancybox="gallery" href="{{ featured_image | img_url: 'master' }}" rel="selectors-effect-speed: 600;">
                    <img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
                </a>
                
              <!--  <a id="Zoomer" href="{{ featured_image | img_url: 'master' }}" class="MagicZoomPlus" rel="selectors-effect-speed: 600;">
                  <figure class="mz-figure mz-hover-zoom mz-ready">
                    <img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
                    <div class="mz-lens" style="top: 0px; transform: translate(-10000px, -10000px); width: 150px; height: 218px;">
                      <img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg" style="position: absolute; top: 0px; left: 0px; width: 300px; height: 435px; transform: translate(-151px, -51px);">
                    </div>
                  </figure>
                </a> -->
              </div>
            </div>
        <div class="detailBottom">
        <div class="thumbsWrap">
          {% for image in product.images %}
            {% if forloop.index > 1  %}
                <a href="{{ image.src | img_url: 'master' }}" data-fancybox="gallery" rev="{{ image.src | img_url: 'master' }}" >
                  <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
                </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
        </aside>
        <div class="detailContentWrap">
          <h1>{{ product.title }}</h1>
          <div class="detailWords">
            {{ product.description }}
            <br/>
            <br/>
            <br/>
            {% if product.price == 0  %}
            {{ products.tags }}
             <p><em>Please </em><a href="http://www.fashionuniforms.co.nz/contact.html" style="color: rgb(127, 127, 127);"><em><span>CONTACT</span></em></a><em> us by email or phone to enquire about ordering this garment.</em>    </p>
             {% if product.tags contains 'nzproduction' %}
                <p><em>For any garments not in stock please allow 20 working days for New Zealand production.</em> </p>
              {% endif %}
            {% endif %}
          </div>
          
          {% if product.price > 0  %}
          <div class="price">Price: NZD <span>{{product.price  | money}}</span></div>
          <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical">
            <!-- {%- for option in product.options_with_values -%}
              <fieldset class="js product-form__input {{ option.name }}">
                <legend class="form__label">{{ option.name }}:
                  {% if option.name == 'Color' %}
                  {% assign firstColor = option.values.first | split:'#' %}
                  <span id="selectedColor">{{ firstColor.first }}</span>
                {% endif %}
                </legend>
                
                {%- for value in option.values -%}
                  <input type="radio" id="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}"
                        name="{{ option.name }}"
                        value="{{ value | escape }}"
                        form="product-form-{{ section.id }}"
                        {% if option.selected_value == value %}checked{% endif %}
                  >
                  <label class="{{ option.name }}-label" for="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}">
                    {% assign color = value | split:'#' %}
                    {% if color[1] %}
                      {% assign colorStyle = '#'| append: color[1] %}
                      {% else %}
                      {% assign colorStyle = value %}
                    {% endif %}
                    <span {% if option.name == "Color" %} class="color" {% endif %}>
                      {% unless option.name == "Color" %}
                        {{ value }}
                      {% endunless %}
                    </span>
                  </label>
                {%- endfor -%}
              </fieldset>
            {%- endfor -%} -->


            {% if product.variants.size > 1 %}
                <input id="shopifyId" type="hidden" name="id" value="">
            {% else %}
                <input id="shopifyId" type="hidden" name="id" value="{{product.variants[0].id}}">
                <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
            {% endif %}

            <select name="id" id="productSelect">
              {% for variant in product.variants %}
                {% if variant.available %}
                  <option value="{{ variant.id }}">
                    {{ variant.title }} - {{ variant.price | money_with_currency }}
                  </option>
                {% else %}
                  <option disabled="disabled">
                    {{ variant.title }} - sold out
                  </option>
                {% endif %}
              {% endfor %}
            </select>
                        <span>
              
              <a style="text-decoration:underline" data-fancybox="sizechart" href="{{ "sizechart.png" | asset_url }}">View Size Chart</a></span>
            <div id="qtyCart">
                <label>Quantity:</label><br/>
                <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
                <button type="submit" name="add" id="addtocart" class="btn">
                    <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
                </button>
            </div>
           
          </form>
          {% endif %}

          <div class="goBackLinks">                
            {% if collection %}            
                <a href="{{ collection.url }}" title="Back to the {{ collection.title }} collection page">Go back</a>
            {% endif %}
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>


{% comment %}
  To take advantage of a callback on the select dropdown, add option_selection.js
  and customize the JS in timber.productPage as needed.

  Currently, timber.productPage does the following:
    - Hides your <select> tag from above
    - Breaks out the product variants into separate product options, if more than one exists
    - Generates a <select> tag for each product option
    - Enables/disables elements based on variant availability

  Callback notes:
    - Keep the callback available to the global scope (window.selectCallback) so that advanced
      addons can override it.
      * E.g. multiple currencies http://docs.shopify.com/manual/configuration/store-customization/currencies-and-translations/currencies/how-to-toggle-between-two-currencies
{% endcomment %}
{{ 'option_selection.js' | shopify_asset_url | script_tag }}
<!-- <script>
  var selectCallback = function(variant, selector) {
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector
    });
  };

  jQuery(function($) {
    new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
    {% endif %}

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      $('.selector-wrapper').hide();
    {% endif %}
  });
</script> -->
