<style>
.staff-info__header{
  margin: 2rem 0;
  text-align: center;
}
.staff-info__container{
  display:flex;
  flex-wrap: wrap;
}
.staff-info__container .staff-info__item{
  padding: 5rem 1.5rem;
}
@media screen and (min-width: 750px) {
  .staff-info__container .staff-info__item{
  width: 33.3%;
}
}

.staff-info__container .staff-info__item h3{
  font-size: 13px;
  text-transform: uppercase; 
  line-height: 2em; 
  letter-spacing: .2em;
  text-align: left !important;
}

.staff-img_wrapper{
  padding-bottom: 140%;
  position: relative;
  overflow: hidden;
}

.staff-info__container .staff-info__item img{
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(
    45deg,
    #acacac 0%,
    #3f3f3f 100%
  );
}
.staff-info__container .staff-header{
  margin: 2rem 0;
}
.staff-profile__details{
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  margin-right: 3rem;
}
.staff-profile__details div{
  margin-right: 2rem;
  padding: 0.3rem 0;
}
.staff-profile__details svg{
  vertical-align: sub;
}
</style>
<div class="staff-info container contactWords">
  <div class="staff-info__header">
      <h2>{{ section.settings.title }}</h2>
      <div class="processDividerStrip"></div>
  </div>
  <div class="staff-info__container">
  
    {% for block in section.blocks %}
      <div class="staff-info__item">
        <div class="staff-img_wrapper">
          {% if block.settings.staff_image != blank %}
            <img loading="lazy" src="{{ block.settings.staff_image  | img_url: '300x' }}" alt="{{block.settings.staff_image.alt}}" 
            width="{{ block.settings.staff_image.width }}"
            height="{{ block.settings.staff_image.height }}">
          {% else %}
            <img loading="lazy" >
          {% endif %}
        </div>
        <div class="staff-header">
          <h3>
            <strong>{{ block.settings.staff_name }}</strong><br>
            {{ block.settings.staff_position }}
          </h3>
        </div>
        <div class="staff-description">
          <p>{{ block.settings.staff_description }}</p>

        </div>
        <div class="staff-profile">
          <div class="staff-profile__details">
              {% if block.settings.hide_mobile != true %}
              <div class="staff-profile__number">
                {% render 'icon-phone' %}
                <a href="tel:{{block.settings.staff_mobile}}">
                  <span>{{ block.settings.staff_mobile }}</span>
                </a>
                </div>
              {% endif %}
              {% if block.settings.hide_email != true %}
                <div class="staff-profile__email">
                  {% render 'icon-mail' %}
                  <a href="tel:{{block.settings.staff_email}}">
                  <span>{{ block.settings.staff_email }}</span>
                  </a>
                </div>
              {% endif %}
            {% if block.settings.hide_linkedin != true %}
              <div class="staff-profile__linkedin">
                {% render 'icon-linkedin' %}
                <a href="{{ block.settings.staff_linkedin }}">
                  <span>LinkedIn</span>
                </a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% schema %}

{
  "name": "Staff Information",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Meet Our Team"
    }
  ],
  "blocks": [
    {
      "type": "staff",
      "name": "staff",
      "settings": [
        {
          "type": "image_picker",
          "id": "staff_image",
          "label": "Image"
        }, {
          "type": "text",
          "id": "staff_name",
          "label": "Name"
        }, {
          "type": "text",
          "id": "staff_position",
          "label": "Position"
        }, {
          "type": "richtext",
          "id": "staff_description",
          "label": "Description"
        }, 
        {
          "type": "text",
          "id": "staff_mobile",
          "label": "Mobile"
        },
        {
          "type": "checkbox",
          "id": "hide_mobile",
          "label": "Hide Mobile"
        }, 
        {
          "type": "text",
          "id": "staff_email",
          "label": "Email"
        },
        {
          "type": "checkbox",
          "id": "hide_email",
          "label": "Hide Email"
        },
        {
          "type": "text",
          "id": "staff_linkedin",
          "label": "LinkedIn URL"
        },
        {
          "type": "checkbox",
          "id": "hide_linkedin",
          "label": "Hide LinkedIn"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Sections",
      "name": "Staff Information",
      "blocks": [
        {
          "type": "staff"
        },
        {
          "type": "staff"
        },
        {
          "type": "staff"
        },
        {
          "type": "staff"
        }
      ]
    }
  ]
}

{% endschema %}
